import { defineComponent } from "vue";

const {{capitalize componentName}} = defineComponent({
  name: "St{{capitalize componentName}}",
  setup() {
    return () =><div>这是{{capitalize componentName}}</div>;
  },
});


export default {{capitalize componentName}};